@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,400;1,600;1,700&family=Fira+Sans:wght@200&family=Montserrat:wght@300;700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Poppins:ital,wght@0,200;0,400;0,800;1,400;1,800&family=Raleway:wght@400;500;600&display=swap');

.navbar {
    background-color: var(--dark);
    font-weight: 600;
    padding: 1rem 0;
    margin: 1rem 2rem;
    border-radius: 1rem;
}

/* .navbar-brand {
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
} */

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-item {
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* transition: all 0.4s ease-out; */
}

.navbar-item:hover {
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: all 0.4s ease-out;
}

.navbar-user {
    margin-top: 1rem;
    text-align: right;
    color: var(--light);

}

span {
    text-decoration: underline;
    color: yellowgreen;
}

.logout {
    color: red;
}

.login {
    color: yellowgreen;
}