.polls li{
    background-color: var(--light);
    color: var(--dark);
    padding: 0.5rem;
    text-align:  center;
    font-weight: 800;
}

.polls li:nth-child(odd) {
    background-color: white;
}

.polls li:hover {
    border: 2px solid var(--dark);
    cursor: pointer;
}

.poll-title {
    color: var(--dark);
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}